<div class = 'container form-scrollable'>
  <h1> GENERAL PARENT ENQUIRY </h1>
  <%= bootstrap_form_for(@message, layout: :horizontal)  do |f| %>
    <% render 'messages/message_errors_template', locals: {:message => @message} %>
    <%= f.text_area :content, rows: '10%', cols: '100%', label: 'Comments' %>
    <%= f.hidden_field :message_subject, value: 'GENERAL CORRESPONDENCE'%>
    <%= f.button "Save", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>    
    <%= link_to 'Cancel', parent_summary_path, class: 'btn btn-info' %>
  <% end %>
</div>