<div class = 'container'>
  <h1> GENERAL PARENT ENQUIRY </h1>
  <%= form_for @message do |f| %>
    <% render 'messages/message_errors_template', locals: {:message => @message} %>
    
    <div class = "row">
      <div class = "col-md-12">
        <%= f.label :content, "Please describe what is missing: " %>
        <%= f.text_area :content, rows: '10%', cols: '100%' %>
      </div>    
    </div>
    
    <div class = "row">
      <div class = "col-sm-12">
        <%= f.hidden_field :message_subject, value: 'GENERAL CORRESPONDENCE'%>
      </div>
    </div>

    <div class = "row">
      <%= f.button "Save", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>    
      <%= link_to 'Cancel', admin_path, class: 'btn btn-info' %>
    </div>

  <% end %>

</div>