<div class = 'container form-scrollable level-header'>
  <h1> MISSING PACK/WORK </h1>
  <%= bootstrap_form_for(@message, layout: :horizontal)  do |f| %>
    <% render 'messages/message_errors_template', locals: {:message => @message} %>
    <%= f.collection_select :child, current_user.children, :id, :full_name, :prompt => "Select child", label: 'Child Name' %>
    <%= f.collection_select :subject_name, Subject.all, :subject_name, :subject_name, :prompt => "Select subject", label: 'Subject'%>
    <%= f.collection_select :pack_name, Pack.all, :name, :name, :prompt => "Select pack", label: 'Pack Name' %>
    <%= f.hidden_field :message_subject, value: 'MISSING PACK/WORK'%>
    <%= f.text_area :content, rows: '10%', cols: '100%', label: 'Please describe what is missing' %>
    <%= f.button "Save", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>    
    <%= link_to 'Cancel', parent_summary_path, class: 'btn btn-danger' %>
  <% end %>
</div>