<div class = 'container form-scrollable'>
  <h1> REQUEST HELP FOR MY CHILD </h1>
  <%= bootstrap_form_for(@message, layout: :horizontal)  do |f| %>
    <% render 'messages/message_errors_template', locals: {:message => @message} %>
    <%= f.collection_select :subject_name, Subject.all, :subject_name, :subject_name, :prompt => "Select subject", label: 'Subject'%>
    <%= f.collection_select :pack_name, Pack.all.find(current_user.pack_records.pluck(:pack_id)), :name, :name, :prompt => "Select pack", label: 'Pack Name' %>
    <%= f.number_field :question_number, label: 'Question Number' %>
    <%= f.number_field :page_number, label: 'Page Number' %>
    <%= f.text_area :content, rows: '10%', cols: '100%', label: 'Details' %>
    <%= f.hidden_field :message_subject, value: 'PARENT NEEDS HELP'%>
    <%= f.button "Save", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>    
    <%= link_to 'Cancel', parent_summary_path, class: 'btn btn-info' %>
  <% end %>
</div>