<div class='container level-header'>
  <h1> Send Message </h1>
  <%= bootstrap_form_for(@message, layout: :horizontal)  do |f| %>
    <% render 'messages/message_errors_template', locals: {:message => @message} %>
    <%= f.text_field :message_recipient_name, label: 'Message Recipient Name' %>
    <%= f.text_field :message_recipient, label: 'Message Recipient Email' %>
    <%= f.text_field :subject, label: 'Message Subject'%>
    <%= f.hidden_field :message_subject, value: 'SEND EMAIL TO USER'%>
    <%= f.text_area :content, label: 'Details' %>
    <%= button_tag(type: 'submit', class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending..."}) do %>
      <i class="fa fa-save"></i> Send
    <% end %>
    <%= link_to fa_icon("undo", text: 'Cancel'), employee_view_path, class: 'btn btn-danger hvr-sweep-to-right' %>
  <% end %>
</div>