<div class='container level-header'>
  <h1> Send Message </h1>
  <%= bootstrap_form_for(@message, layout: :horizontal)  do |f| %>
    <% render 'messages/message_errors_template', locals: {:message => @message} %>
    <%= f.text_area :message_recipient_name, rows: '10%', cols: '100%', label: 'Message Recipient Name' %>
    <%= f.text_area :message_recipient, rows: '10%', cols: '100%', label: 'Message Recipient' %>
    <%= f.text_area :subject, cols: '100%', label: 'Message Subject'%>
    <%= f.hidden_field :message_subject, value: 'SEND EMAIL TO USER'%>
    <%= f.text_area :content, rows: '10%', cols: '100%', label: 'Details' %>
    <%= f.button "Send Email", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending..."} %>    
    <%= link_to 'Cancel', employee_view_path, class: 'btn btn-danger' %>
  <% end %>
</div>