<div class = 'container level-header'>
  <% @enclosures = locals[:enclosures] if @enclosures.nil? %> 
  <h2> Enclosures</h2>
  <div class= 'pull-right'>
    <%= link_to fa_icon("plus", text: 'Add Enclosure'), new_enclosure_path, class: "btn btn-info", id: 'new-enclosure-link' %>
  </div>
  <table class = 'table table-striped'>
    <thead>
      <th> Enclosure Name </th>
      <th> Barcode </th>
      <th> Due Date </th>
      <th> Pack </th>
      <% if current_user.role == 'admin' %>
      	<th> Administration </th>
      <%end%>
    </thead>
    <% @enclosures.sort_by(&:"#{'id'}").each do |enclosure| %>
      <tr>
        <td> <%= enclosure.name %> </td>
        <td> <%= enclosure.barcode %> </td>
        <td> <%= enclosure.due_date.strftime('%D') %> </td>
        <td> <%= Pack.find(enclosure.pack_id).name %> </td>
        <% if current_user.role == 'admin' %>
          <td> 
            <%= link_to fa_icon("pencil", text: 'Edit'), edit_enclosure_path(id: enclosure.id), class: "btn btn-success", id: 'edit-enclosure-link' %> 
            <%= link_to fa_icon("trash", text: 'Delete'), enclosure_path(enclosure), method: :delete,
                class: "btn btn-danger", id: 'delete-enclosure-link' %>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>