<div class="nested-fields level-header">
  <h3> Add Enrolment </h3>
  <%= f.collection_select :subject_id, Subject.all, :id, :subject_name, :prompt => "Select Subject" %>
  <%= f.number_field :grade, min: 1, max: 7, placeholder: 'Enter school grade' %>
  <%= f.number_field :ability_level, min: 1, max: 10, placeholder: 'Enter ability level rating' %>
  <%= f.collection_select :offer_id, Offer.active, :id, :offer_name, :prompt => "Select Offer" %>
  <%= link_to_remove_association(fa_icon('trash', text: 'Remove Enrolment'), f, class: 'btn btn-danger') %>
</div>