<div class = 'container'>
  <table class = 'table table-striped'>
    <thead>
      <th> Id </th>
      <th> Name </th>
      <th> Role </th>
      <th> Status </th>     
      <th> Administration </th>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td> <%= user.id %> </td>
        <td> <%= user.full_name %> </td>
        <td> <%= user.role %> </td>
        <td> <%= user.status %> </td>
        <% if current_user.role == 'admin'%>
          <td><%= link_to 'Sign in as', login_as_user_path(id: user.id), class: 'btn btn-primary' %></td>
          <% if user.needs_suspension? && user.status != 'SUSPENDED'%>
            <%= link_to 'Suspend Account', suspend_child_path(id: user.id), class: "btn btn-success", id: 'suspend-user-link' if user.needs_suspension? %>
          <%end%>  
        <%elsif current_user.role == 'parent'%>
          <td><%= link_to 'Edit', edit_users_admin_path(id: user.id), class: "btn btn-success", id: 'edit-user-registration-link' %></td> 
          <td><%= link_to 'Terminate Account', cancel_child_path(id: user.id), class: "btn btn-danger", id: 'cancel-user-link' %></td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>
