<div class = 'container'>
  <table class = 'table table-striped'>
    <thead>
      <th> Id </th>
      <th> Name </th>
      <th> Role </th>
      <th> Status </th>     
      <th> Administration </th>
    </thead>
    <% users= current_user.children if current_user && current_user.role == 'parent'%>
    <% users.each do |user| %>
      <tr>
        <td> <%= user.id%> </td>
        <td> <%= user.full_name %> </td>
        <td> <%= user.role %> </td>
        <td> <%= user.status %> </td>
        <% if current_user.role == 'admin'%>
          <% if user.needs_suspension? && user.status != 'SUSPENDED'%>
            <%= link_to 'Suspend Account', suspend_child_path(id: user.id), class: "btn btn-success", id: 'suspend-user-link' if user.needs_suspension? %>
          <%end%>  
        <%end%>
        <% if current_user.role == 'parent'%>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>
