<div class = 'container level-header'>

  <p id="notice"><%= notice %></p>
  <% @user = locals[:user] if @user.nil? %>
  <div class="jumbotron"> <h2> User Profile for <%= @user.full_name%> at OurCompany </h2> </div>

  <p>
    <strong>Status:</strong>
    <%= @user.status %>
  </p>

  <% if @user.role == 'student'%>
    <p>
      <strong>School Grade:</strong>
      <%= @user.school_grade %>
    </p>

    <p>
      <strong>DOB:</strong>
      <%= @user.date_of_birth.strftime('%D') if @user.date_of_birth  %>
    </p>

    <p>
      <strong>Account Balance:</strong>
      <%= number_to_currency @user.account_balance %>
    </p>

    <p>
      <strong>Overdue Fees:</strong>
      <%= number_to_currency @user.overdue_fees %>
    </p>

    <p>
      <strong>Total Fees:</strong>
      <%= number_to_currency @user.calculate_total_fees(@user) %>
    </p>

    <p>
      <strong>Rewards Balance:</strong>
      <%= number_to_currency @user.rewards %>
    </p>
    <p>
      <strong>Enrolments:</strong>
        <%= @user.enrolments.count %>
    </p>
  <%end%>
  <% if current_user.role == 'parent'%>
    <p>
      <strong>Number of Children:</strong>
        <%= @user.children.count %>
    </p>
  <%end%>
  <% if current_user && current_user.role == 'parent' || current_user.role == 'admin' || current_user.role == 'employee'%>
    <%= link_to fa_icon("pencil", text: 'Edit'), edit_users_admin_path(id: @user.id), class: "btn btn-success", id: 'edit-user-link' %> 
    <%= link_to fa_icon("undo", text: 'Cancel'), root_path, class: 'btn btn-danger' %>
  <%end%>
  <% if @user.rewards > 0.00 && current_user.role == 'parent' || current_user.role == 'student' %>
      <%= link_to fa_icon("bank", text: 'Redeem Reward'), redeem_reward_path(id: @user.id), class: "btn btn-info", id: 'redeem-reward-link' %> 
  <%end%>
  <% if @user.status != 'CANCELLED' %>
    <% e=@user.enrolments.select { |e| Date.today < (e.date + 1.month) } %>
    <% if e.present? && child.status != 'CANCELLED_TRIAL' %>
      <%= link_to fa_icon("stop-circle", text: 'End Trial'), end_trial_path(id: @user.id), class: "btn btn-info", id: 'end-trial-link' %>
    <%else%>
      <%= link_to fa_icon("trash", text: 'Delete'), cancel_child_path(id: @user.id), class: "btn btn-info", id: 'cancel-user-link' %>
    <%end%>
  <%end%>
</div>