<div class = 'container level-header'>
  <% @user = locals[:user] if @user.nil? %>

  <p id="notice"><%= notice %></p>
  <% if request.path != '/parent_summary'%>
    <%= render 'shared/manage_account_navbar', locals: { user: @user } %>
  <%end%>

  <p>
    <strong>Full Name:</strong>
    <%= @user.full_name %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= @user.id %>
  </p>

  <p>
    <strong>Account Status:</strong>
    <%= @user.status %>
  </p>

  <% if @user.role == 'student'%>
    <p>
      <strong>School Grade:</strong>
      <%= @user.school_grade %>
    </p>

    <p>
      <strong>DOB:</strong>
      <%= @user.date_of_birth.strftime('%D') if @user.date_of_birth  %>
    </p>

    <p>
      <strong>Account Balance:</strong>
      <%= number_to_currency @user.account_balance %>
    </p>

    <p>
      <strong>Overdue Fees:</strong>
      <%= number_to_currency @user.overdue_fees %>
    </p>

    <p>
      <strong>Total Fees:</strong>
      <%= number_to_currency @user.calculate_total_fees(@user) %>
    </p>

    <p>
      <strong>Rewards Balance:</strong>
      <%= number_to_currency @user.rewards %>
    </p>
    <p>
      <strong>Enrolments:</strong>
        <%= @user.enrolments.count %>
    </p>
    <p>
      <strong>Payment Due:</strong>
        <%= @user.payment_due.strftime('%D') %>
    </p>

  <%end%>
  <% if @user.role == 'parent' %>
    <p>
      <strong>Number of Children:</strong>
        <%= @user.children.count %>
    </p>
  <%end%>

</div>