<div class = 'container'>
  <h1> CANCEL ACCOUNT </h1>
  <%= bootstrap_form_for @message do |f| %>
    <% render 'messages/message_errors_template', locals: {:message => @message} %>
    
    <%= f.form_group :content, label: { text: "Cancellation Reason" } do %>
      <%= f.radio_button :content, 'Student is not cooperating', checked: true, label: 'Student is not cooperating'  %>
      <%= f.radio_button :content, 'Student is not coping', label: 'Student is not coping' %>
      <%= f.radio_button :content, 'Financial Reasons', label: 'Financial Reasons' %>
      <%= f.radio_button :content, 'Adults under time pressure', label: 'Adults under time pressure' %>
      <%= f.radio_button :content, 'Students under time pressure', label: 'Students under time pressure' %>
      <%= f.radio_button :content, 'Student has a lot of homework from school', label: 'Student has alot of homework from school' %>
      <%= f.radio_button :content, 'Student has activities after school/weekends', label: 'Student has activities after school/weekend' %>
      <%= f.radio_button :content, 'Other', label: 'Other' %>
    <% end %>
    <%= f.hidden_field :message_subject, value: 'TERMINATED ACCOUNT'%>
    <%= f.button "Save", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>    
      <%= link_to 'Cancel', parent_summary_path, class: 'btn btn-info' %>
  <% end %>
</div>