<%= wicked_pdf_stylesheet_link_tag "pdf.css" %> 
<div class = 'container level-header'>
  <h2>Placement Pack Results </h2>
  <%= bootstrap_form_tag url: enter_placement_pack_path(id: current_user.id, :format => 'pdf') do |f| %>
    <%= select_tag "student", options_from_collection_for_select(User.students, "id", "full_name")%>
    
    <%= f.form_group :q1, label: { text: "How did the student do from earlier years" } do %>
      <%= f.radio_button :q1, 'very_poor' , label: "Very Poor", inline: true %>
      <%= f.radio_button :q1, 'fair_poor', label: "Fair Poor", inline: true %>
      <%= f.radio_button :q2, 'passing_grade',  label: "Passing Grade", inline: true %>
      <%= f.radio_button :q1, 'very_well', label: "Very Well", inline: true %>
      <%= f.radio_button :q1, 'outstanding', label: "Outstanding", inline: true %>
      <%= f.text_field :q1comments, label: 'Comments'%>
    <% end %>

    <%= f.form_group :q2, label: { text: "How did the student do from the nominal school level?" } do %>
      <%= f.radio_button :q2, 'very_poor' , label: "Very Poor", inline: true %>
      <%= f.radio_button :q2, 'fair_poor', label: "Fair Poor", inline: true %>
      <%= f.radio_button :q2, 'passing_grade',  label: "Passing Grade", inline: true %>
      <%= f.radio_button :q2, 'very_well', label: "Very Well", inline: true %>
      <%= f.radio_button :q2, 'outstanding', label: "Outstanding", inline: true %>
      <%= f.text_field :q2comments, label: 'Comments'%>
    <% end %>

    <%= f.form_group :q3, label: { text: "What proficiency level was displayed in work that normally belongs to higher grades?"} do %>
      <%= f.radio_button :q3, 'very_poor' , label: "Very Poor", inline: true %>
      <%= f.radio_button :q3, 'fair_poor', label: "Fair Poor", inline: true %>
      <%= f.radio_button :q3, 'passing_grade',  label: "Passing Grade", inline: true %>
      <%= f.radio_button :q3, 'very_well', label: "Very Well", inline: true %>
      <%= f.radio_button :q3, 'outstanding', label: "Outstanding", inline: true %>
      <%= f.text_field :q3comments, label: 'Comments'%>
    <% end %>

    <%= f.form_group :q4, label: { text: "How are the fundamental skills?"} do %>
      <%= f.radio_button :q4, 'very_poor' , label: "Very Poor", inline: true %>
      <%= f.radio_button :q4, 'fair_poor', label: "Fair Poor", inline: true %>
      <%= f.radio_button :q4, 'passing_grade',  label: "Passing Grade", inline: true %>
      <%= f.radio_button :q4, 'very_well', label: "Very Well", inline: true %>
      <%= f.radio_button :q4, 'outstanding', label: "Outstanding", inline: true %>
      <%= f.text_field :q4comments, label: 'Comments'%>
    <% end %>

    <%= f.form_group :q5, label: { text: "What is your impression about the student's approach to Maths from the answers?"} do %>
      <%= f.radio_button :q5, 'very_poor' , label: "Very Poor", inline: true %>
      <%= f.radio_button :q5, 'fair_poor', label: "Fair Poor", inline: true %>
      <%= f.radio_button :q5, 'passing_grade',  label: "Passing Grade", inline: true %>
      <%= f.radio_button :q5, 'very_well', label: "Very Well", inline: true %>
      <%= f.radio_button :q5, 'outstanding', label: "Outstanding", inline: true %>
      <%= f.text_field :q5comments, label: 'Comments'%>
    <% end %>

    <%= f.form_group :q6, label: { text: "What are your thoughts about where the student's work should start and progress?"} do %>
      <%= f.radio_button :q6, 'very_weak' , label: 'Student is very weak in basic skills; must spend a lot of time on basic skills such as'%>
      <%= f.radio_button :q6, 'basic_skill_refreshing', label: "Needs some basic skills refreshing then should progress after 3- 4 months to a level lower than the current nominal level"%>
      <%= f.radio_button :q6, 'quick_revision_needed',  label: "Needs some quick revision of lower level but then would cope with work at nominal level" %>
      <%= f.radio_button :q6, 'start_nominal', label: "Start at nominal level, stay and finish that level in half year"  %>
      <%= f.radio_button :q6, 'pr1_then_next', label: "Do PR1 packs at the nominal level and then move to the next level" %>
      <%= f.text_field :q6comments, label: 'Comments'%>
    <% end %>
    
    <%= button_tag(type: 'submit', class: "btn btn-success hvr-sweep-to-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}) do %>
        <i class="fa fa-save"></i> Save
    <% end %>
    <%= link_to fa_icon("undo", text: 'Cancel'), employee_view_path, class: 'btn btn-danger' %>
  <% end %>
</div>