<div class = 'container'>
  <table class = 'table table-striped'>
    <thead>
      <th> Id </th>
      <th> Name </th>
      <th> Status </th>
      <th> Role </th>
      <th> Administration </th>
    </thead>
    <% users.each do |user| %>
      <tr>
        <td> <%= user.id%> </td>
        <td> <%= user.full_name %> </td>
        <td> <%= user.role %> </td>
        <td> <%= user.status %> </td>
        <% if current_user.role == 'admin' | current_user.role == 'admin'%>
          <% if user.needs_suspension? && user.status != 'SUSPENDED'%>
              <%= link_to 'Suspend Account', suspend_child_path(id: user.id), class: "btn btn-success", id: 'suspend-user-link' if user.needs_suspension? %> 
          <%end%>
          <% if user.account_balance > 0 && user.payment_due > Date.today && user.status != 'SUSPENDED'%>
              <%= link_to 'Overdue Payment Reminder', missing_payment_path(id: user.id), class: "btn btn-success", id: 'missing-payment-link' %> 
          <%end%>
        <%end%>
        <% if current_user.role == 'parent' | current_user.role == 'admin' | current_user.role == 'employee'%>
          <%= link_to 'Edit', edit_users_admin_path(id: user.id), class: "btn btn-success", id: 'edit-user-registration-link' %> 
          <%= link_to 'Terminate Account', users_admin_path(id: user.id), class: "btn btn-danger", id: 'cancel-user-link', method: :delete %>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>