<div class = 'container'>
  <div class = 'parents'>
    <% parents = User.all_parents %>
    <h2> Parents </h2>
    <table class = 'table table-striped'>
      <thead>
        <th> Parent Name </th>
        <th> Number of Children </th>
        <th> Referrer Email </th>
        <th> Administration </th>
      </thead>
      <% parents.each do |parent| %>
        <tr>
          <td> <%= parent.full_name %> </td>
          <td> <%= parent.children.count %> </td>
          <td> <%= parent.referrer_email %> </td>
          <td> <%= link_to 'Terminate Account', user_registration_path(id: parent.id), class: "btn btn-danger", id: 'cancel-parent-link', method: :delete %> </td>
        </tr>
      <%end%>
    </table>
  </div>
  <div class = 'students'>
    <% students = User.students %>
    <h2> Students </h2>
    <table class = 'table table-striped'>
      <thead>
        <th> Student Id </th>
        <th> Student Name </th>
        <th> School Grade </th>
        <th> Parent Name </th>
        <th> Number of Enrolments </th>
        <th> Status </th>
        <th> Administration </th>
      </thead>
      <% students.each do |student| %>
        <tr>
          <td> <%= student.id%> </td>
          <td> <%= student.full_name %> </td>
          <td> <%= student.school_grade %> </td>
          <td> <%= student.parent.full_name %> </td>
          <td> <%= student.enrolments.count %> </td>
          <td> <%= student.status %> </td>
          <% if student.needs_suspension? && student.status != 'SUSPENDED'%>
            <td> 
              <%= link_to 'Suspend Account', suspend_child_path(id: student.id), class: "btn btn-success", id: 'suspend-child-link' if student.needs_suspension? %> 
            </td>
          <%end%>
          <% if student.account_balance > 0 && student.payment_due > Date.today && student.status != 'SUSPENDED'%>
            <td> 
              <%= link_to 'Overdue Payment Reminder', missing_payment_path(id: student.id), class: "btn btn-success", id: 'missing-payment-link' %> 
            </td>
          <%end%>
          <td> <%= link_to 'Terminate Account', user_registration_path(id: student.id), class: "btn btn-danger", id: 'cancel-student-link', method: :delete %> </td>
        </tr>
      <%end%>
    </table>
  </div>






