<div class='container level-header'>
  <h2 class='page-header'>Change your password</h2>
  <%= bootstrap_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", label: 'New password' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", label: 'Confirm new password' %>
    <%= button_tag(type: 'submit', class: "btn btn-success hvr-sweep-to-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Changing..."}) do %>
      <i class="fa fa-save"></i> Change Password
    <% end %>
  <%end%>
</div>
