<div class='container form-scrollable'>
  <%= bootstrap_form_for(@pack_record, layout: :horizontal)  do |f| %>
    <%= f.date_field :start_date, placeholder: 'Enter start date ', class: 'form-control' %>
    <%= f.date_field :due_date, placeholder: 'Enter due date ', class: 'form-control' %>
    <%= f.collection_select :pack_id, Pack.all, :id, :name, prompt: 'Select pack', class: 'form-control' %>
    <%= f.select :status, PackRecord.statuses.keys.to_a %>
    <%= f.collection_select :user_id, User.all.where(role: 'student'), :id, :first_name, prompt: 'Select user', class: 'form-control' %>
    <%= f.number_field :accuracy, placeholder: 'Enter accuracy', min: 0, max: 100, class: 'form-control' %>
    <%= f.number_field :presentation, placeholder: 'Enter presentation', min: 0, max: 100, class: 'form-control' %>
    <%= f.number_field :quality, placeholder: 'Enter quality', min: 0, max: 100, class: 'form-control' %>
    <%= f.number_field :completion, placeholder: 'Enter completion', min: 0, max: 100, class: 'form-control'%>
    <%= f.number_field :consistency, placeholder: 'Enter consistency', min: 0, max: 100, class: 'form-control' %>
    <%= f.text_field :comment, placeholder: 'Enter comments', class: 'form-control' %>
    <div class='level-header'>
      <%= button_tag(type: 'submit', class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."}) do %>
        <i class="fa fa-save"></i> Save
      <% end %>
      <%= link_to fa_icon("undo", text: 'Cancel'), employee_view_path, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>