<div class = 'container level-header'>
  <% @pack_records = pack_records if @pack_records.nil?%>
  <% if current_user.role == 'student'%>
    <h2> Academic Record for <%= current_user.full_name %> </h2>
  <%else%>
    <h2> Academic Summary </h2>
  <%end%>
  <div class= 'pull-right'>
    <%= link_to fa_icon("plus", text: 'Add Pack Record'), new_pack_record_path, class: "btn btn-info", id: 'new-packrecord-link' if user_signed_in? && current_user.role == 'admin' || current_user.role == 'employee' %>
  </div>
  <table class = 'table table-striped'>
    <thead>
      <th> Pack </th>
      <th> Posting Number </th>
      <th> User </th>
      <th> Score </th>
      <th> Reward </th>
      <th> Comment </th>
      <th> Due Date </th>
      <th> Status </th>
      <th> Last Update </th>
      <% if current_user.role == 'employee' || current_user.role == 'admin'%>
        <th> Administration </th>
      <%end%>
    </thead>
    <% @pack_records.sort_by(&:"#{'id'}").each do |pack_record| %>
      <tr>
        <td> <%= Pack.find(pack_record.pack_id).name %> </td>
        <td> <%= pack_record.posting_number %> </td>        
        <td> <%= User.find(pack_record.user_id).full_name %> </td>
        <td> <%= pack_record.score %> </td>
        <td> <%= number_to_currency pack_record.reward %> </td>
        <td> <%= pack_record.comment %> </td>
        <td> <%= pack_record.due_date.strftime('%c') %> </td>
        <td> <%= pack_record.status %> </td>
        <td> <%= pack_record.updated_at.strftime('%c') %> </td>
        <% if current_user.role == 'employee' || current_user.role == 'admin'%>
          <td> 
            <%= link_to fa_icon("pencil", text: 'Edit'), edit_pack_record_path(id: pack_record), class: "btn btn-success", id: 'edit-packrecord-link' %> 
            <%= link_to 'Delete', pack_record_path(pack_record), method: :delete, class: "btn btn-danger", id: 'delete-packrecord-link' %>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>