<div class = 'container'>
<h2> Academic Record for <%= @user.full_name %> </h2>
  <table class = 'table table-striped'>
    <thead>
      <th> Pack Name </th>
      <th> Posting Number </th>
      <th> User </th>
      <th> Score </th>
      <th> Reward </th>
      <th> Comment </th>
      <th> Due Date </th>
      <th> Status </th>
      <th> Last Update </th>
    </thead>
    <% @pack_records.each do |pack_record| %>
      <tr>
        <td> <%= Pack.find(pack_record.pack_id).name %> </td>
        <td> <%= pack_record.posting_number %> </td>        
        <td> <%= User.find(pack_record.user_id).full_name %> </td>
        <td> <%= pack_record.score %> </td>
        <td> <%= number_to_currency pack_record.reward %> </td>
        <td> <%= pack_record.comment %> </td>
        <td> <%= pack_record.due_date.strftime('%c') %> </td>
        <td> <%= pack_record.status %> </td>
        <td> <%= pack_record.updated_at.strftime('%c') %> </td>
      </tr>
    <%end%>
  </table>
</div>