<div class = 'container'>

  <div class = 'subjects'>
    <%= render 'subjects/index', :locals => {:subjects => Subject.all } %>
  </div>

  <div class = 'offers' >
    <%= render 'offers/index', :locals => {:offers => Offer.all } %>
  </div>

  <div class = 'fees' >
    <%= render 'fees/index', :locals => {:fees => Fee.all } %>
  </div>

  <div class = 'packs'>
    <%= render 'packs/index', :locals => {:packs => Pack.all } %>  
  </div>  

  <div class = 'enclosures'>
    <%= render 'enclosures/index', :locals => {:enclosures => Enclosure.all } %>
  </div>

  <div class = 'employees-admins'>
    <%@users = User.employees + User.admins %>
    <h2> Employees and Admins </h2>
    <%= render 'users/index', :locals => {:users => @users } %>
  </div>

  <div class = 'parents'>
    <%@users = User.all_parents %>
    <h2> Parents </h2>
    <%= render 'users/index', :locals => {:users => @users } %>
  </div>

  <div class = 'students'>
    <%@users = User.students %>
    <h2> Students </h2>
    <%= render 'users/index', :locals => {:users => @users } %>
  </div>

</div>