<div class = 'container'>

  <div class = 'subjects'>
    <%= render partial: 'subjects/index', locals: {subjects: Subject.all} %>
  </div>

  <div class = 'offers' >
    <%= render partial: 'offers/index', locals: {offers: Offer.all} %>
  </div>

  <div class = 'fees' >
    <%= render partial: 'fees/index', locals: {fees: Fee.all} %>
  </div>

  <div class = 'packs'>
    <%= render partial: 'packs/index', locals: {packs: Pack.all} %>  
  </div>  

  <div class = 'ribbons'>
    <%= render partial: 'ribbons/index', locals: {ribbons: Ribbon.all} %>
  </div>

  <div class = 'enclosures'>
    <%= render partial: 'enclosures/index', locals: {enclosures: Enclosure.all} %>
  </div>

</div>