<div class = 'container'>

  <div class = 'subjects'>
    <%= render 'subjects/index' %>
  </div>

  <div class = 'offers' >
    <%= render 'offers/index' %>
  </div>

  <div class = 'packs'>
    <%= render 'packs/index' %>  
  </div>  

  <div class = 'ribbons'>
    <%= render 'ribbons/index' %>
  </div>

  <div class = 'enclosures'>
    <%= render 'enclosures/index' %>
  </div>

</div>