<div class = 'container'>
<h2> Welcome <%= current_user.full_name %> </h2>
  <div class = 'row'>
    <ul class="nav nav-sidebar pull-right">
      <div class ='row navbuttons pull-right'>
        <div class = "col-sm-4 btn btn-primary"> 
          <li class= "dropdown"><a href="#" class="dropdown-toggle admin-header hvr-bounce-to-top" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Children <span class="caret"></span></a> 
            <ul class="dropdown-menu">
              <li class="active"><%= link_to 'View Children', children_path(id: current_user.id), remote: true, class: "btn btn-primary hvr-push", id: 'view-enrolment-link' if user_signed_in? %></li>
              <li>  <%= link_to 'Add Child', new_user_registration_path, remote: true, class: "btn btn-primary hvr-push", id: 'new-user-link' if user_signed_in? %></li>
            </ul>
          </li>
        </div> <!-- div -->
        <div class = "col-sm-4 btn btn-primary"> 
          <li class= "dropdown"><a href="#" class="dropdown-toggle admin-header hvr-bounce-to-top" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Send Email <span class="caret"></span></a> 
            <ul class="dropdown-menu">
              <li><%= link_to 'Report Missing Pack', missing_pack_path(id: current_user.id), remote: true, class: "btn btn-primary hvr-push", id:'missing-pack-link' if user_signed_in? %></li>
              <li><%= link_to 'General Parent Enquiry', general_parent_enquiry_path(id: current_user.id), remote: true, class: "btn btn-primary hvr-bounce-to-top", id:'general-parent-enquiry-link' if user_signed_in? %></li>
              <li><%= link_to 'Payment Enquiry', payment_related_enquiry_path(id: current_user.id), remote: true, class: "btn btn-primary hvr-bounce-to-top", id:'payment-enquiry-link' if user_signed_in? %></li>
              <li><%= link_to 'Pack Help', parent_help_path(id: current_user.id), remote: true, class: "btn btn-primary hvr-bounce-to-top", id:'pack-help-link' if user_signed_in? %></li>
            </ul>
          </li>
        </div>
          <div class = "col-sm-4 btn btn-primary"> 
            <li class= "dropdown"><a href="#" class="dropdown-toggle admin-header hvr-bounce-to-top" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Enrolments <span class="caret"></span></a> 
              <ul class="dropdown-menu">
                <li><%= link_to 'View Enrolments', user_enrolments_path(user_id: current_user.id), remote: true, class: "btn btn-primary hvr-push", id: 'view-enrolment-link' if user_signed_in? %></li>
                <li><%= link_to 'Add Enrolment', new_user_enrolment_path(user_id: current_user.id), remote: true, class: "btn btn-primary hvr-push", id: 'new-enrolment-link' if user_signed_in? %></li>    
              </ul>
            </li>
          </div> 
      </div>
    </ul>
  </div> 
  <div class="row">
    <div id="new-user-form" class="col-sm-10"></div>
  </div>
  <div class="row">
    <div id="edit-user-form" class="col-sm-6"></div>
  </div>
  <div class="row">
    <div id="new-enrolment-form" class="col-sm-6"></div>
  </div>
  <div class="row">
    <div id="edit-enrolment-form" class="col-sm-6"></div>
  </div>
  <div class ='cancel-account'>
    <%=render :partial=>'myregistrations/cancel_account'%>
  </div>
  <div class = 'my-children'>
    <%= render :partial => 'myregistrations/children'%>
  </div>
  <div class = 'all-enrolments'>
    <%= render :partial => 'enrolments/index'%>
  </div>
  <div class = 'parent-help'>
    <%= render :partial => 'myregistrations/parent_help_required' %>
  </div>
  <div class = 'payment-enquiry'>
    <%= render :partial => 'myregistrations/payment_related_enquiry' %>
  </div>
  <div class = 'general-parent'>
    <%= render :partial => 'myregistrations/general_parent_enquiry' %>
  </div>
  <div class ='my-pack'>
    <%=render :partial=>'myregistrations/missing_pack'%>
  </div>

</div>