<div class = 'container'>
  <div class = 'student-summary'>
    <h2> Registered Children </h2>
    <div class= 'pull-right'>
      <%= link_to 'Add Child Account', new_user_registration_path, remote: true, class: "btn btn-primary", id: 'new-user-
      link' if user_signed_in? %>
    </div>

    <div class="row">
      <div id="new-user-form" class="col-sm-6"></div>
    </div>
    <div class="row">
      <div id="edit-user-form" class="col-sm-6"></div>
    </div>

    <% @children = current_user.children %> 
    <table class = 'table table-striped'>
      <thead>
        <th> Name</th>
        <th> Email</th>
        <th> Date of Birth</th>
        <th> Coupon Value</th>
        <th> Overdue Fees</th>
        <th> Total Enrolment Fees </th>
        <% if current_user.role == 'parent'%>
          <th> Administration </th>
        <%end%>
      </thead>
      <% @children.each do | child | %>
        <tr>
          <td> <%= child.full_name %> </td>
          <td> <%= child.email %> </td>
          <td> <%= child.date_of_birth.strftime('%D') if child.date_of_birth %> </td>
          <td> <%= number_to_currency child.coupon_value %> </td>
          <td> <%= number_to_currency child.overdue_fees %> </td>
          <td> <%= number_to_currency child.calculate_fees(child) %> </td>
          <%if current_user.role == 'parent'%>
            <td> 
              <%= link_to 'Edit', edit_user_registration_path(id: child.id), remote: true, class: "btn btn-success", id: 'edit-user-registration-link' %> 
              <%= link_to 'Delete', user_registration_path(id: child.id), method: :delete,
                class: "btn btn-danger", id: 'delete-user-registration-link' %>
            </td>
          <%end%>
         </tr>
      <%end%>
    </table>
  </div>
  <div class = 'summary-enrolments'>  
    <div class= 'pull-right'>
      <%= link_to 'Add Enrolment', new_user_enrolment_path(user_id: current_user.id), remote: true, class: "btn btn-primary", id: 'new-enrolment-link' if user_signed_in? %>
    </div>

    <div class="row">
      <div id="new-enrolment-form" class="col-sm-6"></div>
    </div>
    <div class="row">
      <div id="edit-enrolment-form" class="col-sm-6"></div>
    </div>

    <% @children = current_user.children %> 
    <% @children.each do | child | %>
      <%if child.enrolments.present? %>
        <h2> <%= child.full_name + "'s Enrolment" %> </h2>
        <table class = 'table table-striped'>
          <thead>
            <th> Student Name</th>
            <th> Subject</th>
            <th> Grade </th>
            <th> Fees</th>
            <% if current_user.role == 'parent'%>
              <th> Administration </th>
            <%end%>
          </thead>
          <% child.enrolments.each do |enrolment| %>
            <tr>
              <td> <%= User.find(enrolment.user_id).full_name %> </td>
              <td> <%= Subject.find(enrolment.subject_id).subject_name %> </td>
              <td> <%= enrolment.grade %> </td>    
              <td> <%= number_to_currency enrolment.fees %> </td>
              <%if current_user.role == 'parent'%>
                <td> 
                  <%= link_to 'Edit', edit_user_enrolment_path(user_id: child.id, id: enrolment.id), remote: true, class: "btn btn-success", id: 'edit-enrolment-link' %> 
                  <%= link_to 'Delete', user_enrolment_path(user_id: child.id, id: enrolment.id), method: :delete,
                class: "btn btn-danger", id: 'delete-user-registration-link' %>
                </td>
              <%end%>
            </tr>
          <%end%>
      </table>
      <%end%>
    <%end%>
  </div>
  <div class = 'test'>
    <%= render partial: "myregistrations/parent_help_required", locals: {message: Message.new, user: current_user} %>
  </div>
    <div class = 'test'>
    <%= render partial: "myregistrations/missing_pack", locals: {message: Message.new, user: current_user} %>
  </div>
  <div class = 'test'>
    <%= render partial: "myregistrations/payment_related_enquiry", locals: {message: Message.new, user: current_user} %>
  </div>
  <div class = 'test'>
    <%= render partial: "myregistrations/general_parent_enquiry", locals: {message: Message.new, user: current_user} %>
  </div>

</div>