<div class = "container">
  <div class='jumbotron level-header'>
    <h2> STUDENT PORTAL </h2>
    <%= link_to "Reset Page", student_view_path, class: 'btn btn-add pull-right'%>
  </div>
  
  <h2 class='my-profile-title'> Profile </h2>

  <div class='profile-student'>
    <%= render 'users/show', locals: { user: current_user } %>
  </div>

  <h2 class='my-pack-records-title'> Academic Records </h2>
    
  <div class='my-pack-records'>
    <%= render 'pack_records/index', locals: { pack_records: current_user.pack_records} %>
  </div>

  <h2 class='my-enrolments-title'> Enrolments </h2>
    
  <div class='my-enrolments'>
    <%= render 'enrolments/index', locals: { enrolments: current_user.enrolments} if current_user.enrolments.present? %>
  </div>

  <h2 class='my-performance-title'> My Performance </h2>
  
  <div class='my-performance-graph'>  
    <img src = "<%= Gchart.line(:data => [current_user.pack_records.pluck(:score)], :axis_with_labels => 'x,y', :axis_labels => [['' ,'' ,'' ,'' ,'' ,'' ,'' ,'' ,'' ,'' ,'' , '', '', '', '', ''],[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]], :max_value => 100, 
            :title => "My Performance Record", :size => '800x300') %>"/>
  </div>
 
  </div>
