<% @subjects = locals[:subjects] if @subjects.nil? %> 
<div class = 'container'>
  <div class = 'subject-header'>
    <h2> Subjects Offered </h2>
    <div class='btn-toolbar pull-right' id='toolbars'>
      <div class="btn-group button-group" role="group" aria-label="a">
        <%= link_to fa_icon("plus", text: 'Add Subject'), new_subject_path, class: "btn btn-primary", id: 'new-subject-link' %>
      </div>
    </div>
  </div>
  <table class = 'table table-striped'>
    <thead>
      <th> Subject </th>
      <th> Monthly Fee </th>
      <th> Lowest Taught Grade </th>
      <th> Highest Taught Grade </th>
      <% if current_user.role == 'admin' %>
        <th> Administration </th>
      <%end%>
    </thead>
    <% @subjects.each do |subject| %>
      <tr>
        <td> <%= subject.subject_name %> </td>
        <td> <%= number_to_currency subject.fee %> </td>
        <td> <%= subject.lowest_grade_taught %> </td>
        <td> <%= subject.highest_grade_taught %> </td>
        <% if current_user.role == 'admin' %>
          <td> 
            <%= link_to 'Edit', edit_subject_path(id: subject.id), class: "btn btn-success", id: 'edit-subject-link' %> 
            <%= link_to 'Delete', subject_path(subject), method: :delete,
                class: "btn btn-danger", id: 'delete-subject-link' %>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>