<div class = 'container level-header pack-page'>
  <% @packs = locals[:packs] if @packs.nil? %> 
  <div class= 'pull-right'>
    <%= link_to fa_icon("plus", text: 'Add Pack'), new_pack_path, class: "btn btn-add hvr-sweep-to-right", id: 'new-pack-link' %>
  </div>
  <table class = 'table table-striped'>
    <thead>
      <th> Pack Name </th>
      <th> Description </th>
      <th> Type </th>
      <th> Priority </th>
      <th> Action Required </th>
      <th> Subject </th>
      <th> Assigned </th>
      <th> Unassigned </th>
      <% if current_user.role == 'admin' %>
        <th> Administration </th>
      <%end%>
    </thead>
    <% @packs.sort_by(&:"#{'id'}").each do |pack| %>
      <tr>
        <td> <%= pack.name %> </td>
        <td> <%= pack.description %> </td>
        <td> <%= pack.pack_type %> </td>
        <td> <%= pack.priority %> </td>
        <td> <%= pack.action_required %> </td>
        <td> <%= Subject.find(pack.subject_id).subject_name %> </td>
        <td> <%= pack.number_assigned %> </td>
        <td> <%= pack.number_unassigned %> </td>
        <% if current_user.role == 'admin' %>
          <td> 
            <%= link_to fa_icon("pencil", text: "Edit"), edit_pack_path(id: pack.id), class: "btn btn-success hvr-sweep-to-right", id: 'edit-pack-link' %> 
            <%= link_to fa_icon("trash", text: 'Delete'), pack_path(pack), method: :delete,
                class: "btn btn-danger hvr-sweep-to-right", id: 'delete-pack-link' %>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>