<div class = 'container'>
  <h2>Log in</h2>
  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.password_field :password, autocomplete: "off" %>
  
    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
    <% end -%>

    <%= f.button "Log in", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Logging in..."} %>    
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-info" %>
  <% end %>
</div>