<div class = 'container'>
  <h2> Registered Children </h2>
  <% @children = current_user.children if @children.nil?%> 
  <table class = 'table table-striped'>
    <thead>
      <th> Name</th>
      <th> School Grade</th>
      <th> Email</th>
      <th> Date of Birth</th>
      <th> Rewards</th>
      <th> Overdue Fees</th>
      <th> Total Enrolment Fees </th>
      <th> Account Status </th>
      <% if current_user.role == 'parent'%>
        <th> Administration </th>
      <%end%>
    </thead>
    <% @children.each do | child | %>
            <tr>
        <td> <%= child.full_name %> </td>
        <td> <%= child.school_grade %> </td>
        <td> <%= child.email %> </td>
        <td> <%= child.date_of_birth.strftime('%D') if child.date_of_birth %> </td>
        <td> <%= number_to_currency child.rewards %> </td>
        <td> <%= number_to_currency child.overdue_fees %> </td>
        <td> <%= number_to_currency child.calculate_total_fees(child) %> </td>
        <td> <%= child.status %> </td>
        <%if current_user.role == 'parent'%>
          <td> 
            <%= link_to 'Edit', edit_user_registration_path(id: child.id), remote: true, class: "btn btn-success", id: 'edit-user-registration-link' %> 
            <% if child.rewards > 0.00 %>
              <%= link_to 'Redeem Reward', redeem_reward_path(id: child.id), class: "btn btn-success", id: 'redeem-reward-link' %> 
            <%end%>
            <% if child.status != 'CANCELLED' %>
              <% e=child.enrolments.select { |e| Date.today < (e.date + 1.month) } %>
              <% if e.present? && child.status != 'CANCELLED_TRIAL' %>
                <%= link_to 'End Trial', end_trial_path(id: child.id), remote: true, class: "btn btn-danger", id: 'end-trial-link' %>
              <%else%>
                <%= link_to 'Terminate Account', cancel_child_path(id: child.id), remote: true, class: "btn btn-danger", id: 'cancel-user-link' %>
              <%end%>
            <%end%>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>