<div class="nested-fields">
  <div class = "row">
    <div class = "col-md-4">
      <%= f.label 'Subject: ' %>
      <%= f.collection_select :subject_id, Subject.all, :id, :subject_name, :prompt => "Select Subject" %>
      <%#= f.text_field :start_date, append: link_to_remove_association(fa_icon('trash', text: 'Remove'), f, class: 'btn btn-danger') %>
    </div>
    <div class = "col-md-4">
      <%= f.label 'Grade: ' %>
      <%= f.number_field :grade, min: 1, max: 7 %>
    </div>
    <div class = "col-md-4">
      <%= f.label 'Offer: ' %>
      <%= f.collection_select :offer_id, Offer.active, :id, :offer_name, :prompt => "Select Offer" %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-6">
      <%= f.label 'Child: ' %>
      <%= f.collection_select :user_id, current_user.children, :id, :first_name, :prompt => "Select child" %>
    </div>
    <div class = "col-md-6">
      <%= f.label 'Ability Level: ' %>      
      <%= f.number_field :ability_level, min: 1, max: 10 %>
    </div>
  </div>
</div>