<% if request.url == "http://localhost:3000/users/sign_up" %>
  <%path = user_registration_path(@user) %>
<%end%>

<%= form_for @user, url: path, html: {mulitpart: true, class: 'well', role: 'form'} do |f| %>  
  <h2> Add/Edit User </h2>
  <div id="form-errors"></div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.text_field :first_name, placeholder: 'Enter first name', class: 'form-control' %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :surname, placeholder: 'Enter surname', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class = 'row'>
      <div class="col-md-6">
        <%= f.text_field :postal_address, placeholder: 'Enter postal address', class: 'form-control' %>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= f.text_field :city, placeholder: 'Enter city', class: 'form-control' %>
      </div>
      <div class="col-md-4">
        <%= f.select :state, [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY','OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',  'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'] %>            
      </div>
      <div class="col-md-4">
        <%= f.number_field :zip_code, placeholder: 'Enter zipcode', class: 'form-control' %>
      </div>
    </div>
  </div>
 
  <div class="form-group">
    <div class = 'row'>
      <div class="col-sm-6">
        <%= f.email_field :email, placeholder: 'Enter email', class: 'form-control' %>
      </div>
      <div class="col-sm-6">
        <%= f.password_field :password, placeholder: 'Enter password', class: 'form-control' %>
      </div>
    </div>
  </div>
 
  <%= f.hidden_field :role, value: 'parent' %>
  
  <div class="form-group row submit">
    <%= f.button "Save", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>
    <a class="btn btn-danger hvr-trim" id='add-user-cancel-button' data-behaviour="form-dismiss">Cancel</a>
  </div>
<% end %>