<div class = 'container'>
<h1> Payment Enquiry </h1>
<% message = Message.new %>
<%= form_for message do |f| %>
  <% if message.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
      <% message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
    <div class = "col-md-12">
      <%= f.label :content, "Details:" %><br />
      <%= f.text_area :content, :rows => 5 %>
    </div>    
  </div>
  <div class = "row">
    <div class = "col-md-6">
      <%= f.hidden_field :message_subject, value: 'PAYMENT RELATED MATTERS'%>
    </div>
  </div>
  <div class = "row">
    <%= f.button "Send Request", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending..."} %>
  </div>
<% end %>
</div>