<div class = 'container'>
<h1>Need Help</h1>

<%= form_for message do |f| %>
  <% if message.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
      <% message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
    <div class = "col-sm-3">
      <%= f.label :subject_name, "Subject: " %><br />
      <%= f.collection_select :subject_name, Subject.all, :subject_name, :subject_name, :prompt => "Select subject" %>
    </div>
    <div class = "col-sm-3">
      <%= f.label :pack_name, "Pack Requiring Help: " %><br />
      <%= f.collection_select :pack_name, Pack.all.find(current_user.pack_records.pluck(:pack_id)), :name, :name, :prompt => "Select pack" %>
    </div>
    <div class = "col-sm-3">
      <%= f.label :page_number, "Page Number: " %><br />
      <%= f.number_field :page_number %>
    </div>
    <div class = "col-sm-3">
      <%= f.label :question_number, "Question Number: " %><br />
      <%= f.number_field :question_number %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      <%= f.label :content, "Details:" %><br />
      <%= f.text_area :content, :rows => 5 %>
    </div>    
  </div>

  <div class="actions"><%= f.submit "Send Request" %></div>
<% end %>
</div>