<div class = 'container level-header'>
  <% @offers = locals[:offers] if @offers.nil? %> 
  <h2> Offers</h2>
  <div class= 'pull-right'>
    <%= link_to fa_icon("plus", text: 'Add Offer'), new_offer_path, class: "btn btn-add", id: 'new-offer-link' if current_user && current_user.role == 'admin' %>
  </div>
  <table class = 'table table-striped'>
    <thead>
      <th> Offer Name </th>
      <th> Description </th>
      <th> Start Date </th>
      <th> End Date </th>
      <th> Enrolment Discount </th>
      <th> Enrolment % Reduction </th>
      <th> Monthly Discount </th>
      <th> Monthly % Reduction </th>
      <th> Number of Subjects </th>
      <% if current_user && current_user.role == 'admin' %>
      	<th> Administration </th>
      <%end%>
    </thead>
    <% @offers.sort_by(&:"#{'id'}").each do |offer| %>
      <tr>
        <td> <%= offer.offer_name %> </td>
        <td> <%= offer.offer_description %> </td>
        <td> <%= offer.start_date.strftime('%D') %> </td>
        <td> <%= offer.end_date.strftime('%D') %> </td>
        <td> <%= number_to_currency offer.discount_enrolment %> </td>
        <td> <%= offer.percentage_enrolment %> </td>
        <td> <%= number_to_currency offer.discount_monthly %> </td>
        <td> <%= offer.percentage_monthly %> </td>
        <td> <%= offer.number_of_subjects %> </td>
        <% if current_user && current_user.role == 'admin' %>
          <td> 
            <%= link_to fa_icon("pencil", text: 'Edit'), edit_offer_path(id: offer.id), class: "btn btn-success", id: 'edit-offer-link' %> 
            <%= link_to fa_icon("trash", text: 'Delete'), offer_path(offer), method: :delete,
                class: "btn btn-danger", id: 'delete-offer-link' %>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>