<div class='container'>
  <%= bootstrap_form_for(@fee, layout: :horizontal)  do |f| %>
    <%= f.date_field :start_date, placeholder: 'Enter start date', class: 'form-control' %>
    <%= f.date_field :end_date, placeholder: 'Enter end date', class: 'form-control' %>
    <%= f.number_field :amount, placeholder: 'Enter amount', class: 'form-control' %>
    <%= f.select :fee_type, Fee.fee_types.keys.to_a, label: 'Type' %>
    <%= f.collection_select :subject_id, Subject.all, :id, :subject_name, :prompt => "Select Subject" %>
    <%= f.button "Save", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>    
    <%= link_to 'Cancel', admin_path, class: 'btn btn-info' %>
  <% end %>
</div>