<% @fees = fees if @fees.nil? %> 
<div class = 'container'>
  <h2> Fees</h2>
  <div class= 'pull-right'>
        <%= link_to fa_icon("plus", text: 'Add Fee'), new_fee_path, remote: true, class: "btn btn-primary", id: 'new-fee-link' if current_user && current_user.role == 'admin' %>
  </div>

  <div class="row">
    <div id="new-fee-form" class="col-sm-6"></div>
  </div>

  <div class="row">
    <div id="edit-fee-form" class="col-sm-6"></div>
  </div>

  <table class = 'table table-striped'>
    <thead>
      <th> Id </th>
      <th> Type </th>
      <th> Subject </th>
      <th> Start Date </th>
      <th> End Date </th>
      <th> Amount </th>
      <% if current_user && current_user.role == 'admin' %>
      	<th> Administration </th>
      <%end%>
    </thead>
    <% @fees.each do |fee| %>
      <tr>
        <td> <%= fee.id %> </td>
        <td> <%= fee.fee_type %> </td>
        <td> <%= Subject.find(fee.subject_id).subject_name if fee.subject_id %> </td>
        <td> <%= fee.start_date %> </td>
        <td> <%= fee.end_date %> </td>
        <td> <%= number_to_currency fee.amount %> </td>
        <% if current_user && current_user.role == 'admin' %>
          <td> 
            <%= link_to 'Edit', edit_fee_path(id: fee.id), remote: true, class: "btn btn-success", id: 'edit-fee-link' %> 
            <%= link_to 'Delete', fee_path(fee), method: :delete,
                class: "btn btn-danger", id: 'delete-fee-link' %>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>