<div class = 'container level-header fee-page'>
  <% @fees = locals[:fees] if @fees.nil? %> 
  <div class= 'pull-right'>
    <%= link_to fa_icon("plus", text: 'Add Fee'), new_fee_path, class: "btn btn-add hvr-sweep-to-right", id: 'new-fee-link' if current_user && current_user.role == 'admin' %>
  </div>
  <table class = 'table table-striped'>
    <thead>
      <th> Id </th>
      <th> Name </th>
      <th> Type </th>
      <th> Subject </th>
      <th> Start Date </th>
      <th> End Date </th>
      <th> Amount </th>
      <% if current_user && current_user.role == 'admin' %>
      	<th> Administration </th>
      <%end%>
    </thead>
    <% @fees.sort_by(&:"#{'id'}").each do |fee| %>
      <tr>
        <td> <%= fee.id %> </td>
        <td> <%= fee.fee_name %> </td>
        <td> <%= fee.fee_type %> </td>
        <td> <%= Subject.find(fee.subject_id).subject_name if fee.subject_id %> </td>
        <td> <%= fee.start_date.strftime('%D') %> </td>
        <td> <%= fee.end_date.strftime('%D') %> </td>
        <td> <%= number_to_currency fee.amount %> </td>
        <% if current_user && current_user.role == 'admin' %>
          <td> 
            <%= link_to fa_icon("pencil", text:'Edit'), edit_fee_path(id: fee.id), class: "btn btn-success hvr-sweep-to-right", id: 'edit-fee-link' %> 
            <%= link_to fa_icon("trash", text: 'Delete'), fee_path(fee), method: :delete,
                class: "btn btn-danger hvr-sweep-to-right", id: 'delete-fee-link' %>
          </td>
        <%end%>
      </tr>
    <%end%>
  </table>
</div>