<!DOCTYPE html>
<html>
<head>
  <title>TeachTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "body-style">
  <div id = 'navbar' >
    <%= render 'shared/navbar' %>
  </div>
  <div class = 'row'>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> col-sm-6 col-sm-offset-2"><%= value %></div>
    <% end %>
  </div>
  <div id = "container">
    <%= yield %>
  </div>
</body>
</html>
